[submodule "JAVASCRIPT/UNIDAD_1/ejercice-JavaScript"]
	path = JAVASCRIPT/UNIDAD_1/ejercice-JavaScript
	url = https://github.com/lucasppperalta/practica-JavaScript-Css-Html-Python/tree/javascript/JAVASCRIPT/UNIDAD_1
